* {box-sizing: border-box}

/* Style the search field */
form.example input[type=search], input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 12px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

.video-sve video {
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  margin-left: 25%;
  margin-top: 15px;
  width: 900px;
}

.video-sve > .iframe-video1 .iframe {
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  margin-left: 25%;
  margin-top: -15px;
  width: 900px;
  height: 500px;

}

.video-sve > .video2 {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-column-gap: 1em;
}

.audio-materijali {
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  margin-left: 42%;
  margin-bottom: 20px;
  margin-top: 5px;
}

.video1 h1{
  align-items: center;
  color: black;
  margin-left: 45%;
  font-family: 'Bebas Neue', cursive;
  font-weight: 900;
  letter-spacing: 5px;

}

.video-sve h1{
  color: black;
  font-family: 'Bebas Neue', cursive;
  font-weight: 900;
  letter-spacing: 5px;
}

.searchByTitle {
  color: black;
  font-family: 'Bebas Neue', cursive;
  font-weight: 900;
  letter-spacing: 5px;
}
#toggle {
  display: none;
}
