.tablica {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba (0, 0, 0, 0.15);
}

.tablica thead tr{
  background-color: purple;
  color: white;
  text-align: left;
  font-weight: bold;
}

.tablica th, td {
  padding: 12px 15px;
}

.tablica tbody tr {
  border-bottom: 1px solid #dddddd;

}

.tablica tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.tablica tbody{
  border-bottom: 2px solid purple;
}


.tablica tfoot tr{
  background-color: #f3f3f3;
}
